body{
    background-color: transparent;
    /*overflow-y: hidden;*/
}
.overlay{
    position: fixed;
    width: 100%;
    left: initial;
    right: 0px;
}
.nav-header {
    position:relative;
    width: 100%;
    z-index: 999;
    box-shadow: 0 5px 10px rgba(0, 0, 0, 0.2);
}
.list-container{
    float: right;
    height: 100%;
    margin: 0 0 15px 0;
    width: 100%;
}
.files.layout-grid {
   /* margin-top: 38px;*/
    height: 0px;
}
.uyd-grid .ajax-filelist {
   /*min-height: 100%;*/
    height: 100%;
    overflow-y: auto;
    min-height: 450px;
}
/*
.sidemenu {
    background: #f9f9f9 none repeat scroll 0 0;
    box-shadow: 5px 4px 1px -1px #d9d9d3 inset;
    float: left;
    height: 72%;
    position: fixed;
    width: 20%;
}*/
.nav-title{
    margin-left: 28px;
}
.nav-home{
    margin-top: 5px;
}
.glyphicon.glyphicon-user.pull-left {
    margin-right: 3px;
    margin-top: 4px;
}
.nav-driveframeclose {
    float: right;
    font-size: 17px;
    margin-top: 2px;
}
/*
.sideicon{
    position: relative;
    display: block;
    float: left;
    width: 30px;
    height: 28px;
    cursor: pointer;
  }
  .sideicon:after {
    content: '';
    position: absolute;
    display: block;
    width: 2rem;
    height: 0;
    top: -2px;
    box-shadow: 0 10px 0 1px #000, 0 16px 0 1px #000, 0 22px 0 1px #000;
  }
  
  .sidemenu h4 {
    background: black none repeat scroll 0 0;
    color: white;
    display: block;
    font-weight: bold;
    margin: 2px 0 0 2px;
    padding: 8.5px;
}
.listitems {
    background: #e4e4e4 none repeat scroll 0 0;
    height: 100% !important;
}
.listitems ul {
    list-style-type: none;
    margin: 0;
    padding-top: 10px;
    padding-left: 0px;
}
.listitems ul li{
    display:block;
}
.listitems a {
    border-bottom: 1px solid #bbbbbb;
    display: block;
    padding: 5px 16px;
}
.listitems ul li:hover{
   background: #676767; 
}
.listitems ul li:hover a{
   color: white;
   font-weight: bold;
}

.active{
   background: #676767;
}
.active a{
  color: white;
  font-weight: bold;
  cursor:default;
}*/
.uyd-grid .isselected .entry_edit{background-color: #0e92c7;}
