/* 
 * CUSTOM WILLIAMS MEDICAL TECHNOLOGIES
 * ------------------------------------
 * General form color definitions.
 */
 
 /* PURPLE --->
.wmtMainContainer {
	background-color: #E7E6F9;
}
.wmtCollapseBar,
.wmtLabBar,
.wmtAnalysisBar {
	background-color: #61A0FF;
}
.wmtInput,
.wmtInput2,
.wmtFullInput,
.wmtFullInput2,
.wmtMainContainer input[readonly],
.wmtMainContainer textarea[readonly],
.wmtMainContainer select[readonly] {
	background-color: #fff;
}
.wmtLabBox {
	border-color: #7870DE;
	background-color: #fff;
}
.wmtLabHeader {
	background-color: #7870DE;
	color: #FFFFFF;
}
.wmtLabTitle {
	width: 100%;
	text-align: left;
	line-height: 14px;
	margin-left: 3px;
	padding-bottom: 4px;
}
.wmtLabBody {
	background-color: white;
}
.wmtLabMenu {
	background-color: #E7E6F9;
	border-color: #E7E6F9;
}
.ui-tabs-vertical .ui-tabs-nav li {
	background-color: #61A0ff; 
	border-color: #7870DE;
}
.ui-tabs-vertical .ui-tabs-nav li.ui-tabs-active { 
	background-color: #fff; 
	border-right-color: #fff;
	border-bottom-color: #7870DE;
	border-top-color: #7870DE;
}
<--- PURPLE */

 /* ORANGE ---> 
.wmtMainContainer {
	background-color: #F8F1B9;
}
.wmtCollapseBar,
.wmtLabBar,
.wmtAnalysisBar {
	background-color: #FFCC66;
}
.wmtInput,
.wmtInput2,
.wmtFullInput,
.wmtFullInput2 {
	background-color: #fff;
}
.wmtLabBox {
	border-color: #CC6633;
	background-color: #fff;
}
.wmtLabHeader {
	background-color: #CC6633;
	color: #FFFFFF;
}
.wmtLabBody {
	background-color: white;
}
.wmtLabMenu {
	background-color: #F8F1B9;
	border-color: #F8F1B9;
}
.ui-tabs-vertical .ui-tabs-nav li {
	background-color: #FFCC66; 
	border-color: #CC6633;
}
.ui-tabs-vertical .ui-tabs-nav li.ui-tabs-active { 
	background-color: #fff; 
	border-right-color: #fff;
	border-bottom-color: #CC6633;
	border-top-color: #CC6633;
}
 <--- ORANGE */

/* BLUE ---> 
.wmtMainContainer {
	background-color: #fff;
}
.wmtCollapseBar,
.wmtLabBar,
.wmtAnalysisBar {
	background-color: #8cacbb;
}
.wmtInput,
.wmtInput2,
.wmtFullInput,
.wmtFullInput2 {
	background-color: #f0f0f0;
}
.wmtLabBox {
	background-color: #f0f0f0;
	border-color: #666;
}
.wmtLabHeader {
	background-color: #336666;
	color: #FFFFFF;
	line-height: 26px;
}
.wmtLabMenu {
	background-color: #B6D2E0;
	border-color: #B6D2E0;
}
.ui-tabs-vertical .ui-tabs-nav li {
	background-color: #8cacbb; 
	border-color: #000;
}
.ui-tabs-vertical .ui-tabs-nav li.ui-tabs-active { 
	background-color: #f0f0f0; 
	border-right-color: #f0f0f0;
	border-bottom-color: #000;
	border-top-color: #000;
}
 <--- BLUE */

/* 
 * CUSTOM WILLIAMS MEDICAL TECHNOLOGIES
 * ------------------------------------
 * This section makes specific fixes to the default layouts.
 */
 
@media print {
	.no-print {
		display: none !important;
	}
}

#tooltipdiv {
	min-width: 800px;
}

div.tab {
	width: 98%;
}

textarea {
	resize: vertical;
}

/*
table,
.wmtInnerLeft table,
.wmtInnerRight table {
    border-collapse: collapse;
}
*/


th, td,
.wmtInnerLeft table th, .wmtInnerLeft table td,
.wmtInnerRight table th, .wmtInnerRight table td {
    padding: 2px 2px;
}
/*
#ReviewBox .wmtInnerLeft table th, 
#ReviewBox .wmtInnerLeft table td,
#ReviewBox .wmtInnerRight table th, 
#ReviewBox .wmtInnerRight table td {
    padding: 1px;
}
*/
input,select,textarea {
	box-sizing: border-box;
}

select {
	height: 1.7em;
}

input {
	padding-left: 3px;
	padding-right: 3px;
	height: 1.7em;
}

#encounter_forms {
	padding: 5px;
	width: auto;
}

#partable {
	width: 100%;
}

/* 
 * CUSTOM WILLIAMS MEDICAL TECHNOLOGIES
 * ------------------------------------
 * The following styles where introduced with the dermatology specific forms.
 */
 
 .wmtSummary .wmtStatus {
 	display: none;
 }
 
.wmtSummary .wmtReport .wmtSectionBody {
	margin-bottom: 5px;
	background-color: #fff;
}
	
.wmtCenter {
	text-align: center;
}

.wmtIndent {
	padding-left:25px;
}

.wmtNoResize {
	resize: none;
}

.wmtBreak {
	padding-top: 10px;
}

.wmtLeft {
	text-align: left;
}

.wmtRight {
	text-align: right;
}

.wmtTitle {
	margin-left: 5px;
	margin-bottom: 10px;
}
.wmtHeader {
	font-size: 7pt;
	font-weight: bold;
	text-align: left;
	white-space: nowrap;
	text-transform: uppercase;
	line-height: 12pt;
	padding-top: 3px;
	vertical-align: top;
}

.wmtOutput {
	font-size: 12px;
	font-weight: normal;
}

.wmtLabel {
	font-size: 12px;
	font-weight: bold;
	vertical-align: middle;
}

#ReviewBox .wmtLabel {
	font-size: 9px;
	font-weight: bold;
	vertical-align: middle;
	text-transform: uppercase;
}

.wmtRadio {
	font-size: 12px;
	font-weight: bold;
	vertical-align: bottom;
	padding-bottom: 6px;
}

.wmtCheck {
	font-size: 12px;
	font-weight: bold;
	vertical-align: -6px;
	margin-left: 0;
}

.wmtHeader {
	font-size: 10px;
	font-weight: normal;
	text-transform: uppercase;
}

.wmtInput {
	border: 1px solid #aaa;
	padding-left: 3px;
}

.wmtMainContainer input[readonly],
.wmtMainContainer textarea[readonly],
.wmtMainContainer select[readonly],
.wmtMainContainer input[disabled],
.wmtMainContainer textarea[disabled],
.wmtMainContainer select[disabled],
.wmtMainContainer option[disabled], 
.wmtMainContainer optgroup[disabled],
.wmtMainContainer select[disabled] {
	background-color: transparent;
	border: 1px solid #aaa;
	color: #000;
}

.wmtMainContainer input.wmtButton {
	background-color: buttonface;
	height: 1.8em;
}

.wmtMainContainer input.wmtButton[disabled] {
	color: #888;
}

.wmtFullInput {
	border: 1px solid #aaa;
	font-family: Arial,Helvetica,asns-serif; 
	font-size: 12px;
	width: 100%;
/*	padding-left: 3px; */
/*	margin-right: 15px; */
}

.wmtInput2 {
	font-size: 9px;
	width: 100%;
	border: none;
	padding: 0;
/*	background-color: #FEFDCF; */
}

.wmtFullInput2 {
	width: 100%;
	padding: 0;
}

/* FORM STYLE */
.wmtMainContainer {
	overflow: hidden;
/*	background-color: #F8F1B9; */
	border: solid 2px black;
	margin: 4px;
}

.wmtMainContainer fieldset {
	margin: 15px 2px;
	padding: 10px 4px;
}

.wmtMainContainer legend {
	font-size: 14px;
	font-weight: bold;
}

.wmtCollapseBar {
	text-align: center;
	overflow: hidden;
/*  	background-color: #FFCC66; */
	cursor: pointer;
	border-bottom: solid 1px black;
	text-transform: uppercase;
}

.wmtCollapseBar.wmtBarClosed {
	border-bottom: none;
}

.wmtCollapseBar table {
	height: 22px;
	vertical-align: middle;
}

.wmtInnerLeft {
	border-right: 1px solid black;
	padding: 0 7px 0 0;
}

.wmtInnerRight {
	padding: 0 0 0 5px;
}

.wmtMainContainer .wmtInnerLeft table,
.wmtMainContainer .wmtInnerRight table {
	border-collapse: separate;
}

.wmtMainContainer table.wmtLabBox {
	border-collapse: collapse;
}

.wmtChapter {
	font-size: 14px;
	font-weight: bold;
	text-align: center;
}

.wmtCollapseBox {
	display: block;
	padding: 7px 6px 3px 3px;
}

/* LAB STYLE */
.wmtLabBar {
	text-align: center;
	padding: 10px;
	font-weight: bold;
	font-size: 16px;
	color: black;
}

.wmtLabBox {
	width: 99%;
	border-collapse: collapse;
	border-width: 1px;
	border-style: solid;
}

.wmtInnerRight .wmtLabBody,
.wmtInnerLeft .wmtLabBody,
.wmtLabBody {
	padding: 0;
	vertical-align: top; 
	height: 250px; 
}

.wmtLabHeader {
	font-size: 14px;
	font-weight: bold;
	line-height:26px;
}

.wmtLabMenu {
	height: 249px;
	float: left;
	width: auto;
	min-width: 20%;
	border-right-style: solid;
	border-right-width: 1px;
	overflow-y: scroll;
	overflow-x: hidden;
}

.ui-tabs { 
	margin: 0; 
	padding: 0; 
	position: relative; 
}

.ui-tabs .ui-tabs-nav { 
	margin: 0; 
	padding: .2em .2em 0; 
}

.ui-tabs .ui-tabs-nav li { 
	list-style: none; 
	float: left; 
	position: relative; 
	top: 0; 
	margin: 1px .2em 0 0; 
	border-bottom: 0; 
	padding: 0; 
	white-space: nowrap; 
	border-bottom-width: 1px; 
	border-bottom-style: solid;
	border-right-width: 1px;
	border-right-style: solid; 
}

.ui-tabs-vertical { 
	width: 100%; 
}

.ui-tabs-vertical .ui-tabs-nav { 
	padding: 0 .1em .4em 0; 
	float: left; 
	width: 100%; 
}

.ui-tabs-vertical .ui-tabs-nav li { 
	clear: left; 
	width: 100%; 
	margin: 0; 
}

.ui-tabs-vertical .ui-tabs-nav li a { 
	display: block; 
	float: left; 
	padding: .5em 1em; 
	text-decoration: none; 
	cursor: pointer; 
}

.ui-tabs-vertical .ui-tabs-nav li.ui-tabs-active { 
	padding-bottom: 0; 
	border-right-width: 1px; 
}

.ui-tabs-vertical .ui-tabs-panel { 
	display: block; 
	border: none; 
	background: none; 
	height: 229px; 
	padding:10px;  
	overflow-y: auto; 
	overflow-x: hidden; 
	margin-left: auto;
}

/* REPORT STYLE */
.wmtReport h3 {
	font-size: 14px;
	font-weight: bold;
}

.wmtReport h4 {
	font-size: 12px;
	font-weight: bold;
	margin-top: 10px;
}

.wmtReport small {
	font-size:10px;
}

div.wmtReport table td.wmtLabel {
	padding-right: 10px;
	vertical-align: baseline;
	line-height: 12pt;
	padding-top: 4px;
}

div.wmtReport table td.wmtOutput {
	vertical-align: baseline;
	line-height: 12pt;
	padding-top: 4px;
}

.wmtReport .container {
	position: relative;
	margin: 5px;	
	border: 2px dashed;
}

.wmtReport .wmtFrame {
	width: 100%;
}

.wmtReport .wmtLabel {
	font-size: 12px;
	font-weight: bold;
	text-align: right;
	white-space: nowrap;
	min-width: 90px;
}

.wmtReport .wmtNotice {
	color: #c00;
	font-style: italic;
	font-size: 12px;
	font-family: times, serif;
}

.wmtReport .wmtOutput {
	font-size: 12px;
	font-weight: normal;
}

.wmtReport .wmtBreak {
	padding-top: 10px;
}

.wmtReport .wmtStatus {
	border: solid 1px red;
	width: 200px;
	margin-bottom: 0px;
}

.wmtReport .wmtStatus .wmtLabel {
	padding: 3px 3px 3px 20px;
}

.wmtReport .wmtStatus .wmtOutput {
	padding: 3px 60px 3px 3px;
}

.wmtReport .wmtSection {
	margin-top: 0;
}

.wmtReport fieldset {
	margin-top: 15px;
	margin-bottom: 0px;
}

.wmtReport legend {
	font-size: 14px;
	font-weight: bold;
}

.wmtReport .wmtSectionTitle {
	width: 99%;
	background-color: #222;
	color: white;
	text-transform: uppercase;
	font-size: 9pt;
	font-weight: bold;
	text-align: left;
	line-height: 1.5em;
	margin: 0;
	padding: 0 0 0 10px;
}

.wmtReport .wmtSectionBody {
	padding: 5px 5px 10px 5px;
	width: 99%;
}


/* PRINT DEFINITIONS */

.wmtPrint {
	width: 525pt;
	background: none;
	margin: 10px;
	font-size: 10pt;
	vertical-align: absbottom;
}

.wmtPrint table,
.wmtPrint td,
.wmtPrint tr {
	padding: 0;
	margin: 0;
	border-spacing: 0;
  	border-collapse: collapse;
}

.wmtPrint .wmtInnerTable {
	margin-top: 10px;
}

.wmtPrint h1 {
	font-size: 1.2em;
	font-width: bold;
	text-align: center;
	margin: 0;
	padding: 0;
}

.wmtPrint h2 {
	font-size: 1em;
	font-width: bold;
	text-align: center;
	margin: 0;
	padding: 0;
}

.wmtPrint label,
.wmtPrint input {
	display: inline;
}

.wmtPrint .wmtNotice {
	color: #c00;
	font-style: italic;
	font-size: 80%;
	font-family: times, serif;
}

.wmtPrintBox {
	padding: 0 5px 5px 5px;
}

.wmtPrintBox h3 {
	padding-bottom: 0;
	margin-bottom: 3px;
}

.wmtPrint .wmtStatus {
	display: none;
}

.wmtPrint .wmtLabel {
	font-size: 7pt;
	font-weight: bold;
	text-align: right;
	white-space: nowrap;
	text-transform: uppercase;
	width: auto;
/*	padding-left: 10pt; */
}

.wmtPrint .wmtTitle {
	font-size: 7pt;
	font-weight: bold;
	text-align: left;
	white-space: nowrap;
	text-transform: uppercase;
	line-height: 12pt;
	padding-top: 3px;
	vertical-align: top;
}

.wmtPrint .wmtOutput {
	font-size: 10pt;
	font-weight: normal;
}

.wmtPrint .wmtHeader {
	margin-top: 20px;
}

.wmtPrint .wmtHeaderLabel {
	font-size: 8pt;
	font-weight: bold;
	text-align: right;
	white-space: nowrap;
	text-transform: uppercase;
}

.wmtPrint .wmtHeaderOutput {
	width: 60pt;
	border-top: none;
	border-left: none;
	border-right: none;
	border-bottom: 1px solid black;
	margin-left: 5px;
}

.wmtPrint .wmtSection {
	border: 2px solid black;
	margin-top: 10px;
}

.wmtPrint .wmtSectionTitle {
	width: 100%;
	color: black;
	background-color: #ddd;
	border-bottom: 1px solid black;
	text-transform: uppercase;
	font-size: 9pt;
	font-weight: bold;
	text-align: center;
	line-height: 1.5em;
	margin: 0;
	padding: 0;
}

.wmtPrint .wmtSectionBody {
	padding: 5px 5px 10px 5px;
}
